@media only screen and (max-width: 750px) {
    .navbar,
    main {
        margin: 0 5px !important;
    }
    /* What Is Covid-19? */
    main .container .about {
        text-align: center;
        width: 100%;
    }
    main .container .about h1 {
        font-size: 33px;
    }
    main .container .left .carousel {
        margin-bottom: 15px;
    }
    main .container .left,
    main .container .right {
        width: 100% !important;
    }
    .topCountries,
    .yourCountry {
        font-size: 13px;
    }
    main .carousel {
        height: 155px !important;
    }
    .right.rightSide {
        margin-left: 0 !important;
        margin-top: 30px;
    }
    .persent-calc {
        margin-top: 10px !important;
        justify-content: center;
        flex-wrap: wrap;
    }
    .hot-line {
        justify-content: center;
    }
}