* {
    font-family: "ALK Sanet", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: #363636;
}

.navbar,
main {
    margin: 0 200px;
}

.navbar {
    background: none !important;
}

.navbar-brand img {
    width: 60px;
}

.nav-item a {
    margin-right: 20px;
    padding: 0;
    color: #fff !important;
}

.nav-link:hover {
    color: rgb(226, 226, 226) !important;
}

.active a {
    color: rgb(184, 182, 182) !important;
}

.navbar-toggler {
    background: rgb(184, 182, 182) !important;
    opacity: .5;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main .container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

main h1 {
    color: #363636;
}


/* What Is Covid-19? */

main .container .left,
main .container .right {
    width: 50%;
    display: flex;
    justify-content: center;
}

main .container .right video {
    width: 90%;
    border-radius: 7px;
    height: 100%;
    overflow: hidden;
}

main .carousel {
    width: 90%;
    height: 500px;
    background-color: rgba(54, 54, 54, .7);
    border-radius: 7px;
    margin: auto;
    overflow: hidden;
}

main .carousel-item {
    overflow: hidden;
}

main .carousel-item img {
    margin: auto;
    object-fit: cover;
}


/* Prevention */

main .container .left img,
main .container .right img {
    width: 90%;
    border-radius: 5px;
    margin: 10px 0;
}

main .container p {
    margin-right: 18px;
}

main .container p::first-letter {
    font-size: 25px;
    color: #4cd3c2;
}

main hr {
    border: solid #cccccc .5px;
    width: 95%;
}


/* statistics */

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
}

th,
td {
    padding: 10px;
}

.hot-line {
    margin-top: 50px;
    border: double #363636 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hot-line h4 {
    margin: 10px;
}

.form-box label {
    margin-top: 7px;
    margin-left: 15px;
}

.form-box select {
    width: 60%;
}

.form-box span {
    margin-bottom: 10px !important;
}

.form-box {
    display: flex;
    justify-content: space space-between;
    margin-bottom: 10px;
}

.result {
    margin-left: 5px;
}

.right .container {
    justify-content: center;
}


/* footer */

footer {
    margin-top: 30px;
    background: #363636;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

footer h4 {
    margin: 0;
}